apiVersion: v1
kind: Service
metadata:
  name: gestor-inventario-service
  labels:
    app: gestor-inventario
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: gestor-inventario
